/*p {
 background-color: blue;
 color: white;}*/
p#wd-id-selector-1 {
  background-color: rgb(255, 166, 0);
  color: white;
}
p#wd-id-selector-2 {
  background-color: rgb(0, 255, 26);
  color: black;
}

.fg-color-black {
  color: black;
}
.fg-color-white {
  color: white;
}
.fg-color-blue {
  color: #7070ff;
}
.fg-color-red {
  color: #ff7070;
}
.fg-color-green {
  color: green;
}

.bg-color-yellow {
  background-color: #ffff07;
}
.bg-color-blue {
  background-color: #7070ff;
}
.bg-color-red {
  background-color: #ff7070;
}
.bg-color-green {
  background-color: green;
}

.border-fat {
  border-width: 20px 30px 20px 30px;
}
.border-thin {
  border-width: 4px;
}
.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}
.border-yellow {
  border-color: #ffff07;
}
.border-red {
  border-color: #ff7070;
}
.border-blue {
  border-color: #7070ff;
}

.rounded-corners-top {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.wd-selector-1 .wd-selector-3 {
  background-color: red;
  color: white;
}
.wd-selector-2 > .wd-selector-3 > .wd-selector-4 {
  background-color: yellow;
  color: blue;
}

.wd-bg-color-yellow {
  background-color: #ffff07;
}
.wd-bg-color-blue {
  background-color: #7070ff;
}
.wd-bg-color-red {
  background-color: #ff7070;
}
.wd-bg-color-green {
  background-color: green;
}
.wd-bg-color-gray {
  background-color: lightgray;
}

.wd-fg-color-black {
  color: black;
}
.wd-fg-color-white {
  color: white;
}
.wd-fg-color-blue {
  color: #7070ff;
}
.wd-fg-color-red {
  color: #ff7070;
}
.wd-fg-color-green {
  color: green;
}
.wd-dimension-portrait {
  width: 75px;
  height: 100px;
}

.wd-dimension-landscape {
  width: 100px;
  height: 75px;
}

.wd-dimension-square {
  width: 75px;
  height: 75px;
}

.wd-pos-relative {
  position: relative;
}

.wd-pos-relative-nudge-down-right {
  position: relative;
  top: 20px;
  left: 20px;
}

.wd-pos-relative-nudge-up-right {
  position: relative;
  bottom: 30px;
  left: 30px;
}

.wd-pos-absolute-10-10 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.wd-pos-absolute-50-50 {
  position: absolute;
  top: 50px;
  left: 50px;
}
.wd-pos-absolute-120-20 {
  position: absolute;
  top: 20px;
  left: 120px;
}

.wd-zindex-bring-to-front {
  z-index: 10;
}

.wd-grid-row {
  clear: both;
}
.wd-grid-col-half-page {
  width: 50%;
  float: left;
}
.wd-grid-col-third-page {
  width: 33%;
  float: left;
}

.wd-grid-col-two-thirds-page {
  width: 67%;
  float: left;
}

.wd-grid-col-left-sidebar {
  width: 20%;
  float: left;
}
.wd-grid-col-main-content {
  width: 60%;
  float: left;
}
.wd-grid-col-right-sidebar {
  width: 20%;
  float: left;
}

.flex-container {
  border-width: 5px;
  border-color: black;
  border-style: solid;
  display: flex;
  /* justify-content: space-evenly;
  align-items: center; */
}
.flex-container > .flex-box {
  flex-basis: 100%;
}

.flex-box {
  border: 5px gray solid;
  margin: 10px;
  padding: 10px;
}
.flex-box-1 {
  background-color: yellow;
}
.flex-box-2 {
  background-color: blue;
  color: white;
}
.flex-box-3 {
  background-color: red;
  color: white;
}
.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}

.wd-flex-grow-1 {
  flex-grow: 1;
}

.wd-width-75px {
  width: 75px;
}
